@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-135 {
    --tw-rotate: 225deg;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.outer-board {
  @apply border-2 w-72 m-3 shadow-md;
}

.inner-board {
  @apply w-full flex flex-row flex-wrap;
}

.square {
  @apply h-5 w-5 bg-blue-300 m-1;
}

.square-hit {
  @apply h-5 w-5 bg-red-300 m-1;
}

.down-arrow {
  @apply border-solid border-blue-500 border-t-0 border-r-2 border-b-2 border-l-0 inline-block px-1 py-1 transform rotate-45 hover:scale-150;
}

.up-arrow {
  @apply border-solid border-blue-500 border-t-0 border-r-2 border-b-2 border-l-0 inline-block px-1 py-1 transform rotate-135 hover:scale-150;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}


body {
  margin: 0;
  font-family: 'Roboto Mono', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
